:root {
  --dark: #18191a;
  --dark-grey: #272829;
  --light-grey: #3a3b3c;
  --light: #e4e6eb;
  --brand: #c8988b;
  --brand-second: #3a2176;
  --brand-third: #3a2176;
}

/* COLOR UTILITIES */
.bc-brand {
  background-color: var(--brand);
}
.bc-sbrand {
  background-color: var(--brand-second);
}
.bc-dark {
  var(--dark);
}
.bc-dark-grey {
  var(--dark-grey);
}
.bc-light-grey {
  var(--light-grey);
}
.bc-light {
  var(--light);
}
