.comments {
  max-height: 300px;
}

.comments__title {
  font-size: 2em;
  text-align: center;
  margin: 5px;
}

/* FORM STYLES */
.comment__form {
  width: 75%;
  margin: 5px auto;
  text-align: center;
}

.comment__input {
  border-radius: 15px 0 0 15px;
  width: 80%;
}

/* added .button for specificity */
.comment__submit.button {
  width: 15%;
  border-radius: 0 15px 15px 0;
}

/* COMMENT */
.comment {
  background-color: var(--light-grey);
  margin: 5px 10%;
  padding: .5em 1em;
  display: inline-block;
  border: 1px solid black;
  border-radius: 15px;
}

.comment__author {
  font-style: italic;
  overflow: hidden;
}
