.posts {
  margin: 0 auto;
  min-height: 100vh;
  width: 40vw;
}

.post {
  background-color: var(--dark-grey);
  border-radius: 10px;
  position: relative;
  border: 1px solid black;
  margin-bottom: 2em;
  max-height: 40vw;
  overflow: scroll;
}

.post__author {
  font-size: 1.25em;
  font-style: italic;
  overflow: hidden;
}

.post__details {
  margin: 1em;
}

.post__title {
  font-size: 2rem;
  padding: 10px;
}

.post__content {
  background-color: var(--light);
  color: #242526;
  padding: 1em;
}

.post__content p {
  color: inherit;
}

.post__form {
  height: 100%;
}

.post__input {
  width: 100%;
  border: none;
}
