.posts {}
.post {}

.post__author {}

.post__details {}

.post__title {
  font-size: 2rem;
  padding: 10px;
}

.post__content {
  background-color: var(--light);
  color: #242526;
}

.post__content p {
  color: inherit;
}

.post__input {
  color: inherit;
  background-color: var(--light);
  width: 100%;
}

textarea.post__input {
  height: 5em;
}

.post__submit {
  display: block;
  margin: 5px auto;
  width: 50%;
}
